#chat p {
  margin: .1em;
  word-wrap: break-word;
  line-height: 95%;
}

#chat .chatTime {
  font-size: 50%;
}

#chat .channelName {
  font-size: 60%;
  padding: .2em;
  border-radius: 10%;
  font-family: 'Bahnschrift';
  font-weight: bold;
  font-stretch: extra-condensed;
}

#chat img.chatEmote {
  max-height: 1em;
}

#chat.multichat .channelname {
  display: inline;
}